<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'beers')}">

<body>

<h2>
    <th:block th:if="${beer['new']}">New Beer</th:block>
    <th:block th:unless="${beer['new']}">Update Beer</th:block>
</h2>

<form th:object="${beer}"
      id="add-beer-form"
      method="post">

    <!-- ✅ hidden fields (unchanged) -->
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{createdDate}"/>
    <input type="hidden" th:field="*{version}"/>

    <!-- ✅ form fields -->
    <div class="mb-3">
        <th:block th:replace="~{fragments/inputField :: input ('Beer Name', 'beerName', 'text')}"/>
    </div>

    <div class="mb-3">
        <th:block th:replace="~{fragments/selectField :: select('Style', 'beerStyle', ${beerStyles})}"/>
    </div>

    <div class="mb-3">
        <th:block th:replace="~{fragments/inputField :: input ('UPC', 'upc', 'number')}"/>
    </div>

    <div class="mb-3">
        <th:block th:replace="~{fragments/inputField :: input ('Min Qty on Hand', 'minOnHand', 'number')}"/>
    </div>

    <div class="mb-3">
        <th:block th:replace="~{fragments/inputField :: input ('Qty to Brew', 'quantityToBrew', 'number')}"/>
    </div>

    <div class="mb-3">
        <th:block th:replace="~{fragments/inputField :: input ('Price', 'price', 'monetory')}"/>
    </div>

    <!-- ✅ submit button -->
    <div class="mt-3">
        <button
                th:with="text=${beer['new']} ? 'Add Beer' : 'Update Beer'"
                class="btn btn-primary"
                type="submit"
                th:text="${text}">
            Submit
        </button>
    </div>

</form>

</body>
</html>