<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'customers')}">

<body>

<h2>
    <th:block th:if="${customer['new']}">New Customer</th:block>
    <th:block th:unless="${customer['new']}">Update Customer</th:block>
</h2>

<form th:object="${customer}"
      id="add-customer-form"
      method="post">

    <!-- ✅ form field wrapper -->
    <div class="mb-3">

        <!-- ✅ correct fragment usage -->
        <th:block
                th:replace="~{fragments/inputField :: input ('Customer Name', 'customerName', 'text')}"/>
    </div>

    <!-- ✅ submit button -->
    <button
            th:with="text=${customer['new']} ? 'Add Customer' : 'Update Customer'"
            class="btn btn-primary"
            type="submit"
            th:text="${text}">
        Add Customer
    </button>

</form>

</body>
</html>