<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'customers')}">

<body>

<h2>Customers</h2>

<div class="table-responsive">
    <table id="customers" class="table table-striped table-hover">

        <thead>
        <tr>
            <th style="width: 150px;">Customer Name</th>
            <th style="width: 150px;">Registration Date</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="customer : ${selections}">
            <td>
                <a th:href="@{/customers/__${customer.id}__}"
                   th:text="${customer.customerName}">
                </a>
            </td>
            <td th:text="${customer.createdDate}"></td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>