<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body}, 'beers')}">

<body>

<div class="container mt-4">

    <h2 class="mb-3">My Breweries</h2>

    <div class="table-responsive">
        <table class="table table-striped table-hover">

            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="brewery : ${breweries}">
                <td th:text="${brewery.breweryName}">
                    Brewery Name
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</div>

</body>
</html>